#disp{
    background-color: aquamarine;
    color: blueviolet;
    border: 10px solid greenyellow;
}
h1{
    background-color: yellow;
    font-size: 10px;
}
h2{
    background-color: aliceblue;
    font-size: 6px;
}