#sem{
    background-color: beige;
    font-size: 20px;
    color: darkslategrey;
}
h1{
    background-color: darkkhaki;
    color: darkslateblue;
    font-size: 12px;
}
h2{
    background-color: dodgerblue;
    color: lime;
    font-size: 8px;
}