.movie-list{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-card{
    /* height: 200px; */
    margin: 20px;
    width: 25%;
    border: 10px solid green;
    height: 600px;

}
.movie-img{
    width: 80%;
    padding:10%;

}
.movie-card h1{
    background-color: gold;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
}
body{
    margin: 0;
}